version: '2.0'
services:
  api:
    build: ./src/api
    ports:
     - "80:8080"
    volumes:
     - ./src/api:/usr/src/app/
    env_file: ./src/api/.env
    links:
      - redis
    depends_on:
      - redis
  workers:
    build: ./src/workers
    volumes:
     - ./src/workers:/usr/src/app/
    env_file: ./src/workers/.env
    links:
      - redis
    depends_on:
      - redis
  redis:
    image: redis
    ports:
     - "6379:6379"
